<div class = container>
<h3>Help for the Buzzword Bingo Application (version 0.4)</h3>

<p>This application is designed to generate printable Bingo cards. </p>  

<p> The simplest way to use this application is to select "Home" on the
menu bar, and then hit the large button at the bottom that says "Give me
a Bingo Card". A screen will display a 5 x 5 puzzle that can be printed.</p>

<h4> Options on the Menu Bar </h4>
<ol><li><strong>Home</strong>: Gets you to the starting screen as described above 
</li>
<li><strong>Maintain Buzzwords</strong>:  Gets you to a screen that shows
you a list of all buzzwords that can show up in the puzzle.   Currently
these are Tour de France English Commentaries (see the Tech Info for more background).  
You may add, delete or edit buzzwords.  See Maintaining Buzzwords below, for more info</li>
<li><strong>Tech Info</strong>:  Gives you a list of the technologies and
inspirations and possible futures for this application. </li>
<li><strong>Help</strong>:  Shows this page.</li>
</ol>

<h4> Maintaining Buzzwords</h4>
<p> By selecting Maintain Buzzwords from the Menu Bar, you are 
given a list of buzzword phrases that are randomly selected from each time
you generate a Bingo Card.  They are presented in alphabetical order.</p>   
<p>The numbered bar below the menu bar is used to get to the next 
Buzzwords in the list.</p>
<p> New buzzwords can be added by pressing the New Buzzword Button</p>
<p> A buzzword can be edited by selecting the pencil icon to the right of the
phrase.</p>
<p> The trash can icon can be selected to delete a Buzzword</p>
<h5>Rules for Buzzwords</h5>
<ul> <li>Phrase cannot be blank</li>
<li>Phrase cannot be longer than 66 characters</li>
<li>Duplicate phrases are not allowed</li>
<li>The Phrase cannot be the word "FREE".  Otherwise you could get a puzzle with <emp>two</emp> FREE spaces, and
that wouldn't be sporting, would it?</li>
</ul>
<h4> That is it.  Have fun!</h4>
</div>
