<h1>Listing buzzwords</h1>

<table>
  <tr>
    <th>Phrase</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buzzwords.each do |buzzword| %>
  <tr>
    <td><%= buzzword.phrase %></td>
     <td><%= link_to 'Edit', edit_buzzword_path(buzzword) %></td>
    <td><%= link_to 'Destroy', buzzword, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Buzzword', new_buzzword_path %>
