<%= render 'layouts/header' %>
<div class="container">
     <h2>Welcome to the Buzzword Bingo Web application. </h2> 
    <div class="span2"></div>
    <div class="span8">
        
           
           The concept of this application is to randomly generate a printable  
           5x5 bingo card that can be used
           to play Buzzword Bingo.   Print out several cards and share
           them with your colleagues while you attend your least favorite
           corporate meeting. When you hear the phrase or word that you have in one of 
           your squares used you can X it out.  </p>
        <p>
           The first player to get 5 X's in a row - across, down, or diagonally, 
             signals "Bingo" (in an agreed upon manner) and becomes the winner.</p>
          <p>
            Now, hit the button below to generate your card!
           </p>   
            <a id="Input" class="btn btn-primary" href="#" >
                   Give me a Bingo Card!</a> 
     </div>
     <div id="home_aside" class="span2">
       <p>   
           If you want more technical background on this, click on the 
           Tech Info link on the navigation bar above.</p>
           
        <p>
        
          
     </div>
      
</div>
