<div class=container>
  <div class=span1></div>
  <div class=span8>
  
    <% if @buzzwords.nil? %>
      <h3> SORRY! Not Enough Buzzwords in database to give you a card!</h3>
       <% else %>
    <table id="puzzle" class="table table-bordered">
      
     
      <thead>
        <tr>
            <th>B</th><th>I</th><th>N</th><th>G</th><th>O</th>
        </tr>
        
      </thead>
       <tbody>
         <% @buzzwords.each_slice(5) do |five_phrases|  %>
         <tr>
           <% five_phrases.each do |phrase| %>
            <%= phrase_class(phrase) %> <%= phrase %> </td> 

           
           
           <% end %>
          </tr>
          <% end %> 
           
       </tbody> 
    </table>
 
   </div>
</div>
<div class=container>
  <div class=span2>&nbsp; </div>
  
  <div class=span8>
  <%= link_to("Give me another Bingo Card!",puzzle_path,class:"btn btn-primary", id: "generate") %>
   <% end %> 
 </div>
</div>  
 
