<div class=container>
  <div class=span1></div>
  <div class=span8>
    <h1>BINGO</h1>
    <table id="puzzle" class="table table-bordered">
      <thead>
        <tr>
            <th>B</th><th>I</th><th>N</th><th>G</th><th>O</th>
        </tr>
      </thead>
        
    </table>
  </div>
</div>
