/* color names for this app */
$bbPurple: #3D368B;
$bbYellow: #FFFF00; 
$bbGold: #FFCC00;
$bbLightYellow: #FFFFCC;
$bbLogoPurple: #e2e0ed;  /* a faded version of bbPurple */
/*
  attempting a change in color see
  * http://blog.nyaruka.com/customizing-twitter-bootstraps-nav-bar-color


*/
  
/*$navBarBgStart: #3D368B;
$navBarBgEnd: #232051;
*/
$navbarBackground: $bbPurple; /* try royal purple */
$navbarLinkColor: $bbYellow; /* yellow */
$navbarLinkColorHover: $bbGold; /*gold */

  
@import "bootstrap";


div#logo {
 background-color: $bbLogoPurple;
 margin-left: 0;
}

img#logo_image { display: block;
        margin-left: auto;
        margin-right: auto;
        }
div#home_aside {
        background-color: $bbLightYellow;
        border: 5px groove $bbPurple;
        padding: 5px;
        }
